<div class="container">

  <div class="title_container">
    <ion-item *ngIf="edit_title == true" class="title_item">
      <ion-label position="stacked">Title *</ion-label>
      <ion-input [(ngModel)]="title" required='true'></ion-input>
    </ion-item>
    <span *ngIf="edit_title == false" class="title_span">Title</span>
    <ion-checkbox class="title_checkbox" (click)="editTitle()" slot="end"></ion-checkbox>
  </div>

  <div class="description_container">
    <ion-item *ngIf="edit_description == true" class="description_item">
      <ion-label position="stacked">Description * (max 800 words)</ion-label>
      <ion-textarea [(ngModel)]="description" placeholder="" required='true' maxlength='800'></ion-textarea>
    </ion-item>
    <span *ngIf="edit_description == false" class="description_span">Description</span>
    <ion-checkbox class="description_checkbox" (click)="editDescription()" slot="end"></ion-checkbox>
  </div>

  <div class="priority_container">
    <ion-list *ngIf="edit_priority == true" class="priority_item">
      <ion-item>
        <ion-label position="stacked">Priority *</ion-label>
        <ion-select [(ngModel)]="priority">
          <ion-select-option *ngFor="let priority of priorities" [value]="priority"><span>{{ priority }}</span></ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <span *ngIf="edit_priority == false" class="priority_span">Priority</span>
    <ion-checkbox class="priority_checkbox" (click)="editPriority()" slot="end"></ion-checkbox>
  </div>

  <div class="status_container"> 
    <ion-list *ngIf="edit_status == true" class="status_item">
      <ion-item>
        <ion-label position="stacked">Status *</ion-label>
        <ion-select [(ngModel)]="status">
          <ion-select-option *ngFor="let status of types_status" [value]="status"><span>{{ status }}</span></ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <span *ngIf="edit_status == false" class="status_span">Status</span>
    <ion-checkbox class="status_checkbox" (click)="editStatus()" slot="end"></ion-checkbox>
  </div>
  
  <ion-button color="light" (click)="editTask()" class="save_btn">
    Save
  </ion-button>

</div>