.container {
    position: absolute;
    height: 95%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 2.5%;
    text-align: center;
}

.question {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 8vh;
    padding-top: 13px;
    background-color: var(--ion-color-primary);
    font-weight: bold;
    color: white;
}

#close_task {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: large;
    color:  var(--ion-color-success);
    z-index: 100;
}

#close_task:hover {
    color: white;
}

.title_container {
    height: 30%;
}

/* .title_span {
    position: absolute;
    height: 30%;
    top: 25%;
    left: 2%;
} */

.title_item {
    --highlight-height: 0;
    position: absolute;
    height: 30%;
    top: 25%;
    left: 0;
    right: 3%;
}

.notes_container {
    height: 30%;
}

/* .notes_span {
    position: absolute;
    height: 30%;
    top: 50%;
    left: 2%;
} */

.notes_item {
    --highlight-height: 0;
    position: absolute;
    height: 30%;
    top: 50%;
    left: 0;
    right: 3%;
}


/* .priority_container {
    height: 20%;
}

.priority_span {
    position: absolute;
    height: 20%;
    top: 52%;
    left: 2%;
}

.priority_item {
    --highlight-height: 0;
    position: absolute;
    height: 20%;
    top: 50%;
    left: 0;
    right: 3%;
}

.priority_checkbox {
    position: absolute;
    top: 54%;
    right: 0;
} */

/* .status_container {
    height: 20%;
}

.status_span {
    position: absolute;
    height: 20%;
    top: 72%;
    left: 2%;
}

.status_item {
    --highlight-height: 0;
    position: absolute;
    height: 20%;
    top: 70%;
    left: 0;
    right: 3%;
}

.status_checkbox {
    position: absolute;
    top: 74%;
    right: 0;
} */

.save_btn {
    position: absolute;
    width: 100px;
    left: 50%;
    margin-left: -50px;
    bottom: 1%;
}