<div class="container">

  <div class="question">
    Edit my task
  </div>

  <ion-icon id="close_task" name="close-circle" (click)="closeModal()"></ion-icon>

  <div class="title_container">
    <ion-item class="title_item">
      <ion-label position="stacked">Title *</ion-label>
      <ion-input [(ngModel)]="title"></ion-input>
    </ion-item>
  </div>

  <div class="notes_container">
    <ion-item class="notes_item">
      <ion-label position="stacked">Notes * (max 800 words)</ion-label>
      <ion-textarea [(ngModel)]="notes" maxlength='800'></ion-textarea>
    </ion-item>
  </div>

  <ion-button color="light" (click)="editTask()" class="save_btn">
    Save
  </ion-button>

</div>