.container {
    text-align: center;
    color: black;
}

ion-header {
    height: 10%;
    background-color: var(--ion-color-primary);
    color: white;
    font-weight: bold;
}

ion-title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#logo {
    position: absolute;
    bottom: 15%;
    width: 35%;
    height: 35%;
    left: -2%;
}

.title {
    position: absolute;
    bottom: 15%;
    right: 18%;
    font-size: medium;
    font-weight: bold;
}

ion-back-button {
    color: var(--ion-color-primary);
}

ion-footer {
    position: relative;
    text-align: center;
    padding-top: 10px;
    height: 9%;
    display: flex;
}

.wrapper {
    display:inline-block;
    margin: auto;
}

.list_tasks_not_active {
    color: var(--ion-color-secondary);
    font-size: 2em;
    margin: auto;
}

.list_tasks_active {
   color: var(--ion-color-primary);
   font-size: 2em;
   margin: auto;
}

.create_task_active {
    color: var(--ion-color-primary);
    font-size: 2em;
    margin: auto;
 }

 .create_task_not_active {
    color: var(--ion-color-secondary);
    font-size: 2em;
    margin: auto;
}

.number_tasks_active {
    height: 0.8rem;
    width: 0.8rem;
    font-size: 8px;
    background-color: var(--ion-color-primary);
    color: white;
    margin-bottom: 20px;
}

.number_tasks_not_active {
    height: 0.8rem;
    width: 0.8rem;
    font-size: 8px;
    background-color: var(--ion-color-secondary);
    color: white;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
}

/* unvisited link */
a:link {
    color: #6F5F5E;
}

/* visited link */
a:visited {
    color: #6F5F5E;
}

/* mouse over link */
a:hover {
    color: #6F5F5E;
}

/* selected link */
a:active {
    color: #6F5F5E;
}

ion-toolbar {
    text-align: center;
}