<ion-app>

    <ion-header>
      <ion-title>
        <img id="logo" src="../assets/logo.svg" (click)="showOptions($event)"/>
        <div class="title">MY TODO LIST</div>
      </ion-title>
    </ion-header>

    <ion-content>
      <ion-router-outlet></ion-router-outlet>
    </ion-content>

    <ion-footer>
      <div class="wrapper">
        <ion-icon [routerLink]="['/todo-list/']" name="list" [ngClass]="{'list_tasks_active' : listTasks_isActive == true, 'list_tasks_not_active' : listTasks_isActive == false}"></ion-icon>
        <ion-badge *ngIf="tasks.length > 0" [ngClass]="{'number_tasks_active' : listTasks_isActive == true, 'number_tasks_not_active' : listTasks_isActive == false}"> {{ tasks.length }}</ion-badge>
      </div>
      <ion-icon [routerLink]="['/todo-list/create-task']" name="add-circle" [ngClass]="{'create_task_active' : createTask_isActive == true, 'create_task_not_active' : createTask_isActive == false}"></ion-icon>
    </ion-footer>
 
</ion-app>