.header_title {
    background-color: var(--ion-color-primary);
    height: 8vh;
    padding-top: 13px;
}

.task_title {
    margin-left: 3%;
    font-size: initial;
    font-weight: bold;
    color: white;
}

#close_task {
    position: absolute;
    top: 12px;
    right: 10px;
    font-size: large;
    color:  var(--ion-color-success);
    z-index: 100;
}

#close_task:hover {
    color: white;
}

#content {
    position: absolute;
    top: 15%;
    left: 3%;
    right: 3%;
    height: 55vh;
    width: 94%;
    border-bottom: 1px solid lightgray;
}

.description {
    margin-top: 2%;
    margin-right: 2%;
    text-align: justify;
    overflow:auto;
}

.wrapper {
    color: rgb(116, 116, 116);
    font-size: small;
}

.status {
    position: absolute;
    bottom: 5%;
    left: 7%;
    color: black;
}
