<div id="container">

  <ion-header *ngIf="priority == 'High'" class="high">
    <div class="task_title">
      {{ title }}
    </div>
  </ion-header>

  <ion-header *ngIf="priority == 'Medium'" class="medium">
    <div class="task_title">
      {{ title }}
    </div>
  </ion-header>

  <ion-header *ngIf="priority == 'Low'" class="low">
    <div class="task_title">
      {{ title }}
    </div>
  </ion-header>

  <ion-icon id="close_task" name="close-circle" (click)="closeTask()"></ion-icon>

  <div id="content">
    <span>Description:</span>
    <div class="description">
      {{ description }}
    </div>
  </div>

  <div class="wrapper">
    <div class="status"> Status: <strong>{{ status }}</strong> </div>
    <div class="priority"> Priority: <strong> {{ priority }} </strong> </div>
  </div>

</div>