.container {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    text-align: center;
}

/* .open_icon {
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
    display: block;
    color: gray;
    font-size: 2em;
}

.open_icon:hover {
    color: var(--ion-color-primary);
} */

.edit_icon {
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
    display: block;
    color: var(--ion-color-secondary);
    font-size: 2em;
}

.edit_icon:hover {
    color: white;
}

.delete_icon {
    width: 50%;
    margin: auto;
    display: block;
    color: var(--ion-color-secondary);
    font-size: 2em;
}

.delete_icon:hover {
    color: white;
}