<ion-list>
  <ion-item [routerLink]="['/todo-list/']" button (click)="dismissPopOver()">My Tasks</ion-item>
  <ion-item [routerLink]="['/todo-list/create-task']" button (click)="dismissPopOver()">Create Task</ion-item>
  <ion-item [routerLink]="['/todo-list/tasks-report']" button (click)="dismissPopOver()">Task Report</ion-item>
  <ion-item [routerLink]="['/todo-list/pomodoro-technique']" button (click)="dismissPopOver()">Time Manager</ion-item>
  <!--<ion-item button>Tasks Best Practices</ion-item> -->
</ion-list>