<div class="container">

    <ion-item>
      <ion-label position="stacked">Title *</ion-label>
      <ion-input [(ngModel)]="task.title" required='true'></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Description * (max 800 words)</ion-label>
      <ion-textarea [(ngModel)]="task.description" placeholder="" required='true' maxlength='800'></ion-textarea>
      <!-- <ion-input [(ngModel)]="task.description"></ion-input> -->
    </ion-item>
  
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Priority *</ion-label>
        <ion-select (ionChange)="onChange($event)">
          <ion-select-option *ngFor="let p of priority"><span>{{ p }}</span></ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  
    <ion-button color="light" (click)="createNewTask()">
      Save
    </ion-button>
  
  </div>