<div class="container">
  <ion-item>
    <ion-label>Total Time (minutes)</ion-label>
    <ion-datetime class="date_time_value" display-format="mm" picker-format="mm" done-text="Select" minuteValues="15,30,45,50" [(ngModel)]='selected_date'></ion-datetime>
  </ion-item>

  <ion-icon *ngIf="start_icon_showing == true" class="start_btn" src="../assets/start-button.svg" (click)="startAndStopPomodoro()"></ion-icon>
  <ion-icon *ngIf="stop_icon_showing == true" class="stop_btn" src="../assets/stop-button.svg" (click)="startAndStopPomodoro()"></ion-icon>

  <div class="wrapper">
    <circle-progress
      [percent]="percent"
      [maxPercent]="100"
      [startFromZero]="false"
      [showTitle]="false"
      [showSubtitle]="false"
      [subtitleFontSize]="40"
      [showUnits]="false"
      [outerStrokeWidth]="14"
      [outerStrokeColor]="'#8000FF'"
      [showZeroOuterStroke]="false"
      [backgroundStroke]="'gray'"
      [backgroundStrokeWidth]="3"
      [outerStrokeGradient]="false"
      [showInnerStroke]="false">
    </circle-progress>
  </div>

  <div class="minutes_counter">
    Time left: {{ minutes }} m : {{ seconds }} s
  </div>

</div>