
.container {
    height: 100%;
    width: 100%;
    background: var(--ion-color-primary);
    color: white;
    text-align: center;
}

.box {
    margin-top: 100px;
    margin-left: 8%;
    margin-right: 8%;
    width: auto;
    height: 50%;
    padding: 15px;
    background: white;
    color: black;
    -webkit-box-shadow: 10px 10px 6px -3px rgba(0,0,0,0.41);
    -moz-box-shadow: 10px 10px 6px -3px rgba(0,0,0,0.41);
    box-shadow: 10px 10px 6px -3px rgba(0,0,0,0.41);
}

ion-button {
    margin-top: 20px;
}

span {
    cursor: pointer;
    font-weight: bold;
}