<div class="container">

  <div class="box">
    <div *ngIf="new_user == false">
      <h5><strong>LOGIN</strong></h5>
      (or <span class="register_or_login" (click)="userIsNew()">Register</span>)
      <ion-item>
        <ion-label position="stacked">
          E-mail
        </ion-label>
        <ion-input [(ngModel)]="user.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          Password
        </ion-label>
        <ion-input type="password" [(ngModel)]="user.password"></ion-input>
      </ion-item>
      <div class="wrapper">
        <div class="btn">
          <ion-button size="small" (click)="login()">Register</ion-button>
        </div>
        <hr>
        Login with your social account:
        <div class="facebook">
          <!-- Calling FacebookAuth Api from AuthService -->
          <ion-icon class="facebook_icon" name="logo-facebook" (click)="authService.FacebookAuth()"></ion-icon>
        </div>
        <div class="google">
          <!-- GOOGLE SIGNIN -->
          <ion-icon class="google_icon" name="logo-google"></ion-icon>
        </div>
      </div>
    </div>
    <div *ngIf="new_user == true">
      <h5><strong>REGISTRATION</strong></h5>
      (or <span class="register_or_login" (click)="userIsNotNew()">Login</span>)
      <ion-item>
        <ion-label position="stacked">
          E-mail
        </ion-label>
        <ion-input [(ngModel)]="user.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">
          Password
        </ion-label>
        <ion-input type="password" [(ngModel)]="user.password"></ion-input>
      </ion-item>
      <div class="wrapper">
        <div class="btn">
          <ion-button size="small" (click)="createAccount()">Register</ion-button>
        </div>
        <hr>
        Register with your social account:
        <div class="facebook">
          <!-- Calling FacebookAuth Api from AuthService -->
          <ion-icon class="facebook_icon" name="logo-facebook" (click)="authService.FacebookAuth()"></ion-icon>
        </div>
        <div class="google">
          <!-- GOOGLE SIGNIN -->
          <ion-icon class="google_icon" name="logo-google"></ion-icon>
        </div>
      </div>
    </div>
  </div>

</div>
