.container {
    margin: auto;
    position: absolute;
    top: 70px; left: 0; bottom: 0; right: 0;
    text-align: center;
    .container-list {
        height:calc(100% - 45px);
        overflow:auto;
    }
}

.task {
    position: relative;
    width: 100%;
    height: 12%;
    border-bottom: 1px solid lightgray;
}

.completed_task {
    position: absolute;
    left: 10%;
    text-decoration: line-through;
    color: black;
}

.incompleted_task {
    position: absolute;
    left: 10%;
    color: black;
}

.reordering_icon {
    position: absolute;
    top: 15%;
    left: 3%;
    color: black;
}

.title {
    position: absolute;
    top: 25%;
    left: 14%;
}

.options_icon {
    position: absolute;
    top: 25%;
    left: 90%;
    float: right;
    color: gray;
    font-size: 1.2em;
}

.options_icon:hover {
    color: #512b58;
    cursor: pointer;
}

/* NO TASKS */

.noTasks {
    margin-top: 70px;
}

#empty_list {
    width: 100px;
    height: 100px;
}
